---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: check-org-membership
  annotations:
    tekton.dev/displayName: "konflux-ui-org-membership"
    tekton.dev/categories: "Pipeline"
    tekton.dev/tags: "config,rhads"
spec:
  description: >-
    checks org membership for konflux-ui
  params:
    - name: job-spec
      description: "Job specification metadata"
      type: string
  results:
    - name: membership-result
      description: "The RHADS configuration content (base64 encoded)"
  steps:
    - name: get-rhads-config
      image: quay.io/konflux-ci/appstudio-utils:ab6b0b8e40e440158e7288c73aff1cf83a2cc8a9@sha256:24179f0efd06c65d16868c2d7eb82573cce8e43533de6cea14fec3b7446e0b14
      env:
        - name: JOB_SPEC
          value: $(params.job-spec)
      script: |
        #!/usr/bin/env bash
        set -euo pipefail

        SOURCE_REPO_URL=$(jq -r '.git.source_repo_url' <<< $JOB_SPEC)
        echo $SOURCE_REPO_URL