---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: test-metadata
  labels:
    app.kubernetes.io/version: '0.2'
    upstream-usable: 'true'
  annotations:
    tekton.dev/pipelines.minVersion: 0.12.1
    tekton.dev/tags: konflux
spec:
  results:
    - name: job-spec
      description: The konflux ci job spec metadata generated.
    - name: prefetch-artifact
      description: The OCI artifact that contains the prefetch dependencies generated during the build phase.
  params:
    - name: SNAPSHOT
      description: The JSON string of the Snapshot under test.
    - name: test-secret
      type: string
      description: The name of the test being executed.
  steps:
    - name: test-metadata
      env:
        - name: SNAPSHOT
          value: $(params.snapshot)
      script: |
        #!/bin/bash
        echo "Hello world"
        echo "${SNAPSHOT}" 

