---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: test-metadata
  labels:
    app.kubernetes.io/version: '0.2'
    upstream-usable: 'true'
  annotations:
    tekton.dev/pipelines.minVersion: 0.12.1
    tekton.dev/tags: konflux
spec:
  results:
    - name: job-spec
      description: The konflux ci job spec metadata generated.
    - name: prefetch-artifact
      description: The OCI artifact that contains the prefetch dependencies generated during the build phase.
  steps:
    - name: test-metadata
      script: |
        #!/bin/bash
        echo "Hello world"
